.service-card {
    background-color: #0f0f0f;
    border: 1px solid #2a2a2a;
    border-radius: 10px;
    padding: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.service-card:hover {
    transform: translateY(-6px);
    border-color: #4f46e5;
}

.service-image {
    width: 100%;
    height: 180px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.service-content {
    color: #e5e5e5;
}

.service-meta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #9ca3af;
    margin-bottom: 6px;
}

.service-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}


.service-description {
    font-size: 14px;
    color: #b3b3b3;
    line-height: 1.5;
    padding-top: 22px;
}
